<div
  class="relative grid gap-20 sm:gap-32 md:gap-44 xl:grid-cols-2 xl:place-content-center xl:gap-0"
>
  <div class="relative xl:order-2">
    <div
      class="absolute top-0 right-0 h-[180%] -translate-y-[33%] w-1/2 bg-fill-700/20 rounded-bl-[80px] xl:w-[101%] xl:-translate-y-[70%]"
    ></div>
    <img
      class="min-w-[135%] translate-x-[-0%] max-h-[500px]"
      src="assets/images/illustration-devices.svg"
      alt="Devices"
    />
  </div>

  <!-- content -->
  <div class="container xl:mt-14 xl:pr-0">
    <div class="flex items-center gap-4">
      <span class="badge badge-dark">New</span>
      <h3 class="uppercase text-fill-700 tracking-[.3rem]">
        Monograph Dashboard
      </h3>
    </div>

    <h1 class="uppercase font-bold mt-4">
      Powerful insights <br class="hidden xl:inline" />
      into your team
    </h1>

    <p class="text-xl mt-4 text-fill-800">
      Project planning and time tracking <br class="hidden xl:inline" />
      for agile teams
    </p>

    <div class="flex items-center gap-4 uppercase mt-8 md:gap-8 xl:mt-16">
      <a class="btn btn-danger" routerLink="/">Schedule a demo</a>
      <p class="font-heading tracking-wide text-fill-700 md:tracking-[.25rem]">
        to see a live preview
      </p>
    </div>
  </div>
  <!-- end content -->
</div>
